{% extends 'base.html' %}

{% block title %}Search Results{% endblock %}

{% block content %}
    <h1>Search Results</h1>
    <form method="get" action="/search/">
        <label for="q">Search:</label>
        <input id="q" type="text" name="q" placeholder="Search..." value="{{ query }}">
        <button type="submit">Search</button>
    </form>
    <ul>
        {% for result in results %}
            <li><strong>ID:</strong> {{ result.0 }} | <strong>Title:</strong> {{ result.1 }} |
                <strong>Content:</strong> {{ result.2 }}</li>
        {% endfor %}
    </ul>
{% endblock %}
